<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style="font-weight: bold;">This site is created by Sonali, it uses data from mapbox.com and weatherstack.com
        </p>
        <img src="/images/robot.png" />
    </div>

    {{>footer}}
</body>

</html>