<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/web-server/public/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Error in loading {{title}}</p>
    </div>

    {{>footer}}

</body>

</html>